.navbar {
  height: 10vh;
  width: 100vw;
  padding: 3px 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto';
  border-bottom: solid 3px #dcdcdc;
}
.nav-dark {
  background-color: #333333;
  border: none;
}

.nav-logo {
  width: 30px;
}
@media (min-width: 768px) {
  .navbar {
    padding: 3px 23px;
  }
  .nav-logo {
    width: 40px;
  }
}

.nav-options-list {
  display: flex;
  padding-left: 0;
  justify-content: space-between;
}

.link-item {
  text-decoration: none;
}

.nav-options {
  list-style-type: none;
  font-size: 13px;
  font-weight: 600;
  margin-left: 3px;
  margin-right: 7px;
  color: #1e293b;
}
@media (min-width: 768px) {
  .nav-options {
    font-size: 15px;
    margin-right: 11px;
  }
}

.dark-theme-text {
  color: #dcdcdc;
}
